/* line 5, ../../../../../.rvm/gems/ruby-2.5.3/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../.rvm/gems/ruby-2.5.3/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../.rvm/gems/ruby-2.5.3/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../.rvm/gems/ruby-2.5.3/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../.rvm/gems/ruby-2.5.3/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../.rvm/gems/ruby-2.5.3/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../.rvm/gems/ruby-2.5.3/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../.rvm/gems/ruby-2.5.3/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../.rvm/gems/ruby-2.5.3/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* line 5, ../sass/common/_reset.scss */
ul {
  list-style: none;
}

/* line 9, ../sass/common/_reset.scss */
*,
*:after,
*:before {
  outline: 0;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 16, ../sass/common/_reset.scss */
h1 {
  color: rgba(0, 0, 0, 0.84);
  font: normal 400 46px/1.25em "Roboto", sans-serif;
  letter-spacing: -1px;
  margin-bottom: 15px;
}

/* line 23, ../sass/common/_reset.scss */
h2 {
  color: rgba(0, 0, 0, 0.84);
  font: normal 600 29px/32px "Roboto", sans-serif;
  letter-spacing: -1px;
}

/* line 29, ../sass/common/_reset.scss */
h3 {
  color: rgba(0, 0, 0, 0.56);
  font: normal 400 23px/28px "Roboto", sans-serif;
  letter-spacing: 0;
  margin-bottom: 30px;
}

@font-face {
  font-family: "Open Sans";
  src: url('../fonts/OpenSans/OpenSans-Regular.eot?1551428001');
  src: url('../fonts/OpenSans/OpenSans-Regular.eot?&1551428001#iefix') format('embedded-opentype'), url('../fonts/OpenSans/OpenSans-Regular.woff?1551428001') format('woff'), url('../fonts/OpenSans/OpenSans-Regular.svg?1551428001') format('svg');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Open Sans";
  src: url('../fonts/OpenSans/OpenSans-Italic.eot?1551428001');
  src: url('../fonts/OpenSans/OpenSans-Italic.eot?&1551428001#iefix') format('embedded-opentype'), url('../fonts/OpenSans/OpenSans-Italic.woff?1551428001') format('woff'), url('../fonts/OpenSans/OpenSans-Italic.svg?1551428001') format('svg');
  font-weight: 400;
  font-style: italic;
}
@font-face {
  font-family: "Roboto";
  src: url('../fonts/Roboto/Roboto-Light.eot?1551428001');
  src: url('../fonts/Roboto/Roboto-Light.eot?&1551428001#iefix') format('embedded-opentype'), url('../fonts/Roboto/Roboto-Light.woff?1551428001') format('woff'), url('../fonts/Roboto/Roboto-Light.svg?1551428001') format('svg');
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "Roboto";
  src: url('../fonts/Roboto/Roboto-Regular.eot?1551428001');
  src: url('../fonts/Roboto/Roboto-Regular.eot?&1551428001#iefix') format('embedded-opentype'), url('../fonts/Roboto/Roboto-Regular.woff?1551428001') format('woff'), url('../fonts/Roboto/Roboto-Regular.svg?1551428001') format('svg');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Roboto";
  src: url('../fonts/Roboto/Roboto-Medium.eot?1551428001');
  src: url('../fonts/Roboto/Roboto-Medium.eot?&1551428001#iefix') format('embedded-opentype'), url('../fonts/Roboto/Roboto-Medium.woff?1551428001') format('woff'), url('../fonts/Roboto/Roboto-Medium.svg?1551428001') format('svg');
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "Roboto";
  src: url('../fonts/Roboto/Roboto-Bold.eot?1551428001');
  src: url('../fonts/Roboto/Roboto-Bold.eot?&1551428001#iefix') format('embedded-opentype'), url('../fonts/Roboto/Roboto-Bold.woff?1551428001') format('woff'), url('../fonts/Roboto/Roboto-Bold.svg?1551428001') format('svg');
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "Roboto";
  src: url('../fonts/Roboto/Roboto-Black.eot?1551428001');
  src: url('../fonts/Roboto/Roboto-Black.eot?&1551428001#iefix') format('embedded-opentype'), url('../fonts/Roboto/Roboto-Black.woff?1551428001') format('woff'), url('../fonts/Roboto/Roboto-Black.svg?1551428001') format('svg');
  font-weight: 900;
  font-style: normal;
}
@-moz-keyframes pulse-shadow--collection {
  0% {
    -moz-box-shadow: 0 0;
    box-shadow: 0 0;
  }
  70% {
    -moz-box-shadow: 0 0 5px 10px rgba(255, 255, 255, 0);
    box-shadow: 0 0 5px 10px rgba(255, 255, 255, 0);
  }
  100% {
    -moz-box-shadow: 0 0 0 0 rgba(255, 255, 255, 0);
    box-shadow: 0 0 0 0 rgba(255, 255, 255, 0);
  }
}
@-webkit-keyframes pulse-shadow--collection {
  0% {
    -webkit-box-shadow: 0 0;
    box-shadow: 0 0;
  }
  70% {
    -webkit-box-shadow: 0 0 5px 10px rgba(255, 255, 255, 0);
    box-shadow: 0 0 5px 10px rgba(255, 255, 255, 0);
  }
  100% {
    -webkit-box-shadow: 0 0 0 0 rgba(255, 255, 255, 0);
    box-shadow: 0 0 0 0 rgba(255, 255, 255, 0);
  }
}
@keyframes pulse-shadow--collection {
  0% {
    -moz-box-shadow: 0 0;
    -webkit-box-shadow: 0 0;
    box-shadow: 0 0;
  }
  70% {
    -moz-box-shadow: 0 0 5px 10px rgba(255, 255, 255, 0);
    -webkit-box-shadow: 0 0 5px 10px rgba(255, 255, 255, 0);
    box-shadow: 0 0 5px 10px rgba(255, 255, 255, 0);
  }
  100% {
    -moz-box-shadow: 0 0 0 0 rgba(255, 255, 255, 0);
    -webkit-box-shadow: 0 0 0 0 rgba(255, 255, 255, 0);
    box-shadow: 0 0 0 0 rgba(255, 255, 255, 0);
  }
}
/* line 1, ../sass/common/_base.scss */
html, body {
  overflow-x: hidden;
}

/* line 5, ../sass/common/_base.scss */
html {
  overflow-y: scroll;
}

/* line 9, ../sass/common/_base.scss */
body {
  color: rgba(0, 0, 0, 0.84);
  font: normal 400 20px/1.4 "Roboto", sans-serif;
  text-rendering: optimizeLegibility;
}

/* line 15, ../sass/common/_base.scss */
.content {
  position: relative;
  overflow: hidden;
}

/* line 20, ../sass/common/_base.scss */
.h-line {
  background-color: rgba(213, 213, 213, 0.24);
  display: inline-block;
  height: 29px;
  position: relative;
  width: 2px;
}

/* line 28, ../sass/common/_base.scss */
.text-3 {
  color: rgba(0, 0, 0, 0.84);
  font: normal 400 20px/1.4 "Roboto", sans-serif;
}

/* line 33, ../sass/common/_base.scss */
.content-wrapper {
  margin: 65px auto 0;
  max-width: 1224px;
}

/* line 38, ../sass/common/_base.scss */
.icon {
  display: inline-block;
  height: 15px;
  width: 15px;
}
/* line 43, ../sass/common/_base.scss */
.icon--2x {
  height: 29px;
  width: 29px;
}

/* line 49, ../sass/common/_base.scss */
.image {
  margin: 0;
}
/* line 52, ../sass/common/_base.scss */
.image img {
  display: block;
  position: absolute;
  width: 100%;
}
/* line 58, ../sass/common/_base.scss */
.image figcaption {
  color: rgba(0, 0, 0, 0.56);
  font: normal 400 16px/20px "Roboto", sans-serif;
  padding-top: 10px;
}

/* line 65, ../sass/common/_base.scss */
.label {
  color: rgba(0, 0, 0, 0.56);
  font: normal 600 16px/20px "Roboto", sans-serif;
  text-transform: uppercase;
}

/* line 1, ../sass/common/_link.scss */
.link {
  color: rgba(0, 0, 0, 0.84);
  font: normal 400 16px/1.4 "Roboto", sans-serif;
  text-decoration: none;
  position: relative;
}
/* line 7, ../sass/common/_link.scss */
.link--default {
  color: rgba(0, 0, 0, 0.56);
}
/* line 11, ../sass/common/_link.scss */
.link--primary {
  color: #03a87c;
}
/* line 15, ../sass/common/_link.scss */
.link--underlined {
  border-bottom: 1px solid rgba(0, 0, 0, 0.56);
}

/* line 1, ../sass/common/_button.scss */
.button {
  background-color: transparent;
  border-color: rgba(0, 0, 0, 0.15);
  color: rgba(0, 0, 0, 0.84);
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  cursor: pointer;
  display: inline-block;
  font: normal 400 15px/19px "Roboto", sans-serif;
  height: 19px;
  padding: 0 10px;
  text-decoration: none;
}
/* line 10, ../sass/common/_button.scss */
.button--md {
  font: normal 400 16px/37px "Roboto", sans-serif;
  height: 37px;
  padding: 0 16px;
}
/* line 14, ../sass/common/_button.scss */
.button--primary {
  background-color: transparent;
  border-color: #03a87c;
  color: #03a87c;
}

/* line 1, ../sass/components/_header.scss */
.header {
  background-color: rgba(255, 255, 255, 0.9);
  -moz-box-shadow: 0 4px 12px 0 rgba(0, 0, 0, 0.05);
  -webkit-box-shadow: 0 4px 12px 0 rgba(0, 0, 0, 0.05);
  box-shadow: 0 4px 12px 0 rgba(0, 0, 0, 0.05);
  height: auto;
  position: fixed;
  width: 100%;
  z-index: 500;
}
/* line 9, ../sass/components/_header.scss */
.header-wrapper {
  -webkit-align-items: center;
  align-items: center;
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  height: 65px;
  margin: 0 auto;
  max-width: 1224px;
  padding: 0 65px;
}
/* line 20, ../sass/components/_header.scss */
.header__block--base {
  -webkit-align-items: center;
  align-items: center;
  display: -webkit-flex;
  display: flex;
  -webkit-flex: 1 1 auto;
  flex: 1 1 auto;
}
/* line 25, ../sass/components/_header.scss */
.header__block--base .logo {
  height: 22px;
  width: 112px;
}
/* line 30, ../sass/components/_header.scss */
.header__block--base .h-line {
  margin: 0 10px;
}
/* line 34, ../sass/components/_header.scss */
.header__block--base .text-3 {
  margin-top: 7px;
}

/* line 1, ../sass/components/_user-account.scss */
.user-account {
  position: relative;
}

/* line 5, ../sass/components/_user-account.scss */
.user-account-buttons {
  -webkit-align-items: center;
  align-items: center;
  display: -webkit-flex;
  display: flex;
  position: relative;
}
/* line 10, ../sass/components/_user-account.scss */
.user-account-buttons .user-account-button {
  margin-right: 16px;
}
/* line 13, ../sass/components/_user-account.scss */
.user-account-buttons .user-account-button:last-child {
  margin-right: 0;
}

/* line 2, ../sass/components/_article.scss */
.article__header {
  -webkit-align-items: center;
  align-items: center;
  display: -webkit-flex;
  display: flex;
  margin-bottom: 40px;
}
/* line 7, ../sass/components/_article.scss */
.article__header-title {
  padding: 0 60px 0 65px;
}
/* line 11, ../sass/components/_article.scss */
.article__header-image {
  background-clip: padding-box;
  position: relative;
}
/* line 16, ../sass/components/_article.scss */
.article__header-title, .article__header-image {
  -webkit-flex: 0 0 50%;
  flex: 0 0 50%;
}
/* line 22, ../sass/components/_article.scss */
.article__content {
  margin: 0 auto;
  max-width: 740px;
  padding: 0 20px;
  position: relative;
}
/* line 28, ../sass/components/_article.scss */
.article__content .article-p {
  font: normal 400 21px/1.58 "Open Sans", sans-serif;
}
/* line 31, ../sass/components/_article.scss */
.article__content .article-p + .article-p {
  margin-top: 30px;
}
/* line 36, ../sass/components/_article.scss */
.article__content .article-p--leading::first-letter {
  display: block;
  float: left;
  font: normal 400 66px/0.83 "Open Sans", sans-serif;
  padding: 7px 14px 0 0;
  position: relative;
}
/* line 45, ../sass/components/_article.scss */
.article__content .article-p .top-highlight {
  background-color: transparent;
  background-image: linear-gradient(to bottom, rgba(12, 242, 143, 0.2), rgba(12, 242, 143, 0.2));
}
/* line 51, ../sass/components/_article.scss */
.article__content .top-highlight-label {
  color: rgba(0, 0, 0, 0.56);
  font: normal 400 15px/19px "Open Sans", sans-serif;
  padding-left: 10px;
  position: absolute;
  right: -100px;
}
/* line 59, ../sass/components/_article.scss */
.article__content .article-quote {
  color: rgba(0, 0, 0, 0.56);
  font: normal 400 25px/1.58 "Open Sans", sans-serif;
  margin: 50px 0;
  padding-left: 50px;
}
/* line 66, ../sass/components/_article.scss */
.article__content .section-divider {
  border: 0;
  color: rgba(0, 0, 0, 0.56);
  line-height: 1;
  margin: 30px 0 40px;
  text-align: center;
}
/* line 73, ../sass/components/_article.scss */
.article__content .section-divider::before {
  content: "...";
  font-family: "Open Sans";
  font-size: 30px;
  letter-spacing: .5em;
}
/* line 82, ../sass/components/_article.scss */
.article__footer {
  margin: 0 auto;
  max-width: 740px;
  padding: 0 20px;
  position: relative;
}

/* line 90, ../sass/components/_article.scss */
.adaptive-container {
  display: inline-block;
  overflow: hidden;
  position: relative;
  vertical-align: top;
  width: 100%;
}

/* line 98, ../sass/components/_article.scss */
.article-title {
  position: relative;
}
/* line 101, ../sass/components/_article.scss */
.article-title__label {
  margin-bottom: 15px;
}

/* line 106, ../sass/components/_article.scss */
.article-commercial {
  margin-top: 50px;
  position: relative;
  width: 100%;
}
/* line 111, ../sass/components/_article.scss */
.article-commercial .commercial-image {
  -webkit-align-items: center;
  align-items: center;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  flex-direction: column;
}
/* line 116, ../sass/components/_article.scss */
.article-commercial .commercial-image-wrapper {
  width: 200px;
}
/* line 120, ../sass/components/_article.scss */
.article-commercial .commercial-image figcaption {
  text-align: center;
}

/* line 126, ../sass/components/_article.scss */
.article-social {
  -webkit-align-items: center;
  align-items: center;
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  margin-bottom: 30px;
  margin-top: 80px;
}
/* line 133, ../sass/components/_article.scss */
.article-social .article-claps {
  -webkit-align-items: center;
  align-items: center;
  display: -webkit-flex;
  display: flex;
}
/* line 137, ../sass/components/_article.scss */
.article-social .article-claps .article-claps-button {
  -webkit-align-items: center;
  align-items: center;
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 50%;
  cursor: pointer;
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: center;
  justify-content: center;
  height: 60px;
  -moz-transition: border-color 100ms ease 0s, color 100ms ease 0s;
  -o-transition: border-color 100ms ease 0s, color 100ms ease 0s;
  -webkit-transition: border-color 100ms ease, color 100ms ease;
  -webkit-transition-delay: 0s, 0s;
  transition: border-color 100ms ease 0s, color 100ms ease 0s;
  width: 60px;
}
/* line 148, ../sass/components/_article.scss */
.article-social .article-claps .article-claps-button:hover {
  -moz-animation-duration: 2s;
  -webkit-animation-duration: 2s;
  animation-duration: 2s;
  -moz-animation-iteration-count: infinite;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -moz-animation-name: pulse-shadow--collection;
  -webkit-animation-name: pulse-shadow--collection;
  animation-name: pulse-shadow--collection;
  border-color: #03a87c;
  color: #03a87c;
}
/* line 156, ../sass/components/_article.scss */
.article-social .article-claps .article-claps-button img {
  display: inline-block;
  height: 33px;
  width: 33px;
}
/* line 163, ../sass/components/_article.scss */
.article-social .article-claps .article-claps-count {
  font: normal 400 16px/1.4 "Roboto", sans-serif;
  margin-left: 15px;
}
/* line 169, ../sass/components/_article.scss */
.article-social .article-links {
  position: relative;
}
/* line 172, ../sass/components/_article.scss */
.article-social .article-links__list {
  -webkit-align-items: center;
  align-items: center;
  display: -webkit-flex;
  display: flex;
}
/* line 177, ../sass/components/_article.scss */
.article-social .article-links__link {
  cursor: pointer;
  margin-right: 15px;
}
/* line 181, ../sass/components/_article.scss */
.article-social .article-links__link:last-child {
  margin-right: 0;
}
/* line 186, ../sass/components/_article.scss */
.article-social .article-links .article-more-actions {
  height: 25px;
  width: 25px;
}

/* line 193, ../sass/components/_article.scss */
.article-written-by {
  -webkit-align-items: flex-start;
  align-items: flex-start;
  border-top: 1px solid rgba(0, 0, 0, 0.15);
  display: -webkit-flex;
  display: flex;
  padding-top: 50px;
}
/* line 199, ../sass/components/_article.scss */
.article-written-by .user-avatar {
  border-radius: 50%;
  height: 152px;
  overflow: hidden;
  width: 152px;
}
/* line 205, ../sass/components/_article.scss */
.article-written-by .user-avatar img {
  display: inline-block;
  height: 100%;
  width: 100%;
}
/* line 212, ../sass/components/_article.scss */
.article-written-by .written-by {
  margin-left: 25px;
}
/* line 215, ../sass/components/_article.scss */
.article-written-by .written-by .author-name {
  margin: 5px 0;
}
/* line 219, ../sass/components/_article.scss */
.article-written-by .written-by .author-category {
  margin-bottom: 20px;
}

/* line 225, ../sass/components/_article.scss */
.acticle-content-wrapper {
  position: relative;
}

/* line 229, ../sass/components/_article.scss */
.acticle-sidebar {
  margin-left: 65px;
  margin-top: 30px;
  position: absolute;
  top: 0;
}
/* line 235, ../sass/components/_article.scss */
.acticle-sidebar.fixed {
  position: fixed;
  top: 100px;
}
/* line 240, ../sass/components/_article.scss */
.acticle-sidebar__links {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  flex-direction: column;
}
/* line 245, ../sass/components/_article.scss */
.acticle-sidebar__link {
  height: 29px;
  margin-top: 15px;
}
/* line 249, ../sass/components/_article.scss */
.acticle-sidebar__link:first-child {
  margin-top: 0;
}
/* line 254, ../sass/components/_article.scss */
.acticle-sidebar .claps {
  -webkit-align-items: center;
  align-items: center;
  display: -webkit-flex;
  display: flex;
  padding-left: 2px;
}
/* line 259, ../sass/components/_article.scss */
.acticle-sidebar .claps img {
  -webkit-flex: 0 0 auto;
  flex: 0 0 auto;
  height: 25px;
  width: 25px;
}
/* line 265, ../sass/components/_article.scss */
.acticle-sidebar .claps span {
  color: rgba(0, 0, 0, 0.56);
  font: normal 400 16px/20px "Roboto", sans-serif;
  margin-left: 5px;
}

/* line 1, ../sass/components/_user.scss */
.user {
  -webkit-align-items: center;
  align-items: center;
  display: -webkit-flex;
  display: flex;
  position: relative;
}
/* line 6, ../sass/components/_user.scss */
.user__avatar {
  border-radius: 50%;
  -webkit-flex: 0 0 60px;
  flex: 0 0 60px;
  overflow: hidden;
}
/* line 11, ../sass/components/_user.scss */
.user__avatar img {
  display: block;
  height: 60px;
  width: 60px;
}
/* line 18, ../sass/components/_user.scss */
.user__info {
  padding-left: 15px;
}
/* line 21, ../sass/components/_user.scss */
.user__info > .info-line {
  color: rgba(0, 0, 0, 0.56);
  font: normal 400 16px/1.4 "Roboto", sans-serif;
}
/* line 25, ../sass/components/_user.scss */
.user__info > .info-line > * {
  vertical-align: middle;
}
/* line 30, ../sass/components/_user.scss */
.user__info .user__name {
  color: rgba(0, 0, 0, 0.84);
  margin-right: 10px;
}

/* line 1, ../sass/components/_read-next.scss */
.read-next-section-wrapper {
  margin-top: 90px;
  padding: 0 65px 60px;
  position: relative;
}
/* line 6, ../sass/components/_read-next.scss */
.read-next-section-wrapper .section-title {
  color: #03a87c;
  font: normal 700 16px/20px "Roboto", sans-serif;
  left: 75px;
  position: absolute;
  text-transform: uppercase;
  top: 25px;
}
/* line 15, ../sass/components/_read-next.scss */
.read-next-section-wrapper .read-next-section {
  -webkit-align-content: space-between;
  align-content: space-between;
  border-top: 1px solid rgba(0, 0, 0, 0.15);
  display: -webkit-flex;
  display: flex;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  padding: 25px 10px 0;
}
/* line 23, ../sass/components/_read-next.scss */
.read-next-section-wrapper .read-next-section .next-story {
  display: -webkit-flex;
  display: flex;
  -webkit-flex: 0 0 auto;
  flex: 0 0 auto;
  -webkit-flex-direction: column;
  flex-direction: column;
  width: 32%;
}
/* line 29, ../sass/components/_read-next.scss */
.read-next-section-wrapper .read-next-section .next-story .next-story__block {
  padding: 15px 0;
}
/* line 32, ../sass/components/_read-next.scss */
.read-next-section-wrapper .read-next-section .next-story .next-story__block .next-story__title {
  color: rgba(0, 0, 0, 0.84);
  font: normal 400 24px/32px "Roboto", sans-serif;
  letter-spacing: 0;
  margin-bottom: 5px;
}
/* line 39, ../sass/components/_read-next.scss */
.read-next-section-wrapper .read-next-section .next-story .next-story__block .next-story__theme {
  color: rgba(0, 0, 0, 0.56);
  font: normal 400 19px/24px "Roboto", sans-serif;
  letter-spacing: 0;
  margin-bottom: 25px;
}
/* line 46, ../sass/components/_read-next.scss */
.read-next-section-wrapper .read-next-section .next-story .next-story__block .next-story__info {
  color: rgba(0, 0, 0, 0.84);
  font: normal 400 16px/20px "Roboto", sans-serif;
}
/* line 50, ../sass/components/_read-next.scss */
.read-next-section-wrapper .read-next-section .next-story .next-story__block .next-story__info > * {
  vertical-align: middle;
}
/* line 56, ../sass/components/_read-next.scss */
.read-next-section-wrapper .read-next-section .next-story--main {
  -webkit-flex-direction: row-reverse;
  flex-direction: row-reverse;
  margin-bottom: 24px;
  width: 100%;
}
/* line 61, ../sass/components/_read-next.scss */
.read-next-section-wrapper .read-next-section .next-story--main .next-story__image,
.read-next-section-wrapper .read-next-section .next-story--main .next-story__block {
  -webkit-flex: 0 0 auto;
  flex: 0 0 auto;
  width: 50%;
}
/* line 67, ../sass/components/_read-next.scss */
.read-next-section-wrapper .read-next-section .next-story--main .next-story__block {
  padding-top: 35px;
}
/* line 70, ../sass/components/_read-next.scss */
.read-next-section-wrapper .read-next-section .next-story--main .next-story__block .next-story__title {
  font: normal 400 40px/50px "Roboto", sans-serif;
  letter-spacing: normal;
  margin-bottom: 10px;
}
/* line 76, ../sass/components/_read-next.scss */
.read-next-section-wrapper .read-next-section .next-story--main .next-story__block .next-story__theme {
  font: normal 400 21px/28px "Roboto", sans-serif;
  margin-bottom: 35px;
}

/* line 1, ../sass/components/_footer.scss */
.footer {
  background-color: rgba(0, 0, 0, 0.88);
}
/* line 4, ../sass/components/_footer.scss */
.footer-wrapper {
  margin: 0 auto;
  max-width: 1000px;
  padding: 50px 20px;
}

/* line 11, ../sass/components/_footer.scss */
.footer-contents {
  position: relative;
  width: 100%;
}
/* line 15, ../sass/components/_footer.scss */
.footer-contents__list {
  -webkit-align-items: flex-start;
  align-items: flex-start;
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: space-between;
  justify-content: space-between;
}
/* line 21, ../sass/components/_footer.scss */
.footer-contents__item {
  -webkit-flex: 0 0 auto;
  flex: 0 0 auto;
  width: 300px;
}
/* line 25, ../sass/components/_footer.scss */
.footer-contents__item .footer-contents__title {
  color: rgba(255, 255, 255, 0.85);
  font: normal 600 21px/24px "Roboto", sans-serif;
  margin-bottom: 5px;
}
/* line 31, ../sass/components/_footer.scss */
.footer-contents__item .footer-contents__text {
  color: rgba(255, 255, 255, 0.5);
  font: normal 400 16px/20px "Roboto", sans-serif;
}
/* line 35, ../sass/components/_footer.scss */
.footer-contents__item .footer-contents__text .link {
  color: rgba(255, 255, 255, 0.5);
  border-color: rgba(255, 255, 255, 0.5);
  font: normal 400 16px/20px "Roboto", sans-serif;
}

/* line 44, ../sass/components/_footer.scss */
.footer-legal {
  -webkit-align-items: center;
  align-items: center;
  border-top: 1px solid rgba(255, 255, 255, 0.5);
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  margin-top: 50px;
  padding-top: 40px;
  position: relative;
  width: 100%;
}
/* line 54, ../sass/components/_footer.scss */
.footer-legal .logo {
  height: 22px;
  width: 112px;
}
/* line 59, ../sass/components/_footer.scss */
.footer-legal .footer-links {
  position: relative;
}
/* line 62, ../sass/components/_footer.scss */
.footer-legal .footer-links__list {
  -webkit-align-items: center;
  align-items: center;
  display: -webkit-flex;
  display: flex;
}
/* line 67, ../sass/components/_footer.scss */
.footer-legal .footer-links__link {
  -webkit-flex: 0 0 auto;
  flex: 0 0 auto;
  margin-right: 40px;
}
/* line 71, ../sass/components/_footer.scss */
.footer-legal .footer-links__link .link {
  color: rgba(255, 255, 255, 0.5);
  font: normal 400 16px/20px "Roboto", sans-serif;
}
/* line 76, ../sass/components/_footer.scss */
.footer-legal .footer-links__link:last-child {
  margin-right: 0;
}
