.article {
    &__header {
        @include align-items(center);
        @include display-flex();
        margin-bottom: 40px;

        &-title {
            padding: 0 60px 0 65px;
        }

        &-image {
            background-clip: padding-box;
            position: relative;
        }

        &-title,
        &-image {
            @include flex(0 0 50%);
        }
    }

    &__content {
        margin: 0 auto;
        max-width: $max-article-width;
        padding: 0 $article-content-padding-size-x;
        position: relative;

        .article-p {
            @include open-sans(21px, 1.58);

            & + .article-p {
                margin-top: 30px;
            }

            &--leading {
                &::first-letter {
                    display: block;
                    float: left;
                    @include open-sans(66px, .83);
                    padding: 7px 14px 0 0;
                    position: relative;
                }
            }

            .top-highlight {
                background-color: transparent;
                background-image: $article-highlight;
            }
        }

        .top-highlight-label {
            color: $text-color-1;
            @include open-sans(15px, 19px);
            padding-left: 10px;
            position: absolute;
            right: -100px;
        }

        .article-quote {
            color: $text-color-1;
            @include open-sans(25px, 1.58);
            margin: 50px 0;
            padding-left: 50px;
        }

        .section-divider {
            border: 0;
            color: $text-color-1;
            line-height: 1;
            margin: 30px 0 40px;
            text-align: center;

            &::before {
                content: "...";
                font-family: "Open Sans";
                font-size: 30px;
                letter-spacing: .5em;
            }
        }
    }

    &__footer {
        margin: 0 auto;
        max-width: $max-article-width;
        padding: 0 $article-content-padding-size-x;
        position: relative;
    }
}

.adaptive-container {
    display: inline-block;
    overflow: hidden;
    position: relative;
    vertical-align: top;
    width: 100%;
}

.article-title {
    position: relative;

    &__label {
        margin-bottom: 15px;
    }
}

.article-commercial {
    margin-top: 50px;
    position: relative;
    width: 100%;

    .commercial-image {
        @include align-items(center);
        @include display-flex();
        @include flex-direction(column);

        &-wrapper {
            width: 200px;
        }

        figcaption {
            text-align: center;
        }
    }
}

.article-social {
    @include align-items(center);
    @include display-flex();
    @include justify-content(space-between);
    margin-bottom: 30px;
    margin-top: 80px;

    .article-claps {
        @include align-items(center);
        @include display-flex();

        .article-claps-button {
            @include align-items(center);
            border: 1px solid $gray-15;
            border-radius: 50%;
            cursor: pointer;
            @include display-flex();
            @include justify-content(center);
            height: 60px;
            @include transition(border-color 100ms 0s ease, color 100ms 0s ease);
            width: 60px;

            &:hover {
                @include animation-duration(2s);
                @include animation-iteration-count(infinite);
                @include animation-name(pulse-shadow--collection);
                border-color: $green;
                color: $green;
            }

            img {
                display: inline-block;
                height: 33px;
                width: 33px;
            }
        }

        .article-claps-count {
            @include roboto(16px, 1.4);
            margin-left: 15px;
        }
    }

    .article-links {
        position: relative;

        &__list {
            @include align-items(center);
            @include display-flex();
        }

        &__link {
            cursor: pointer;
            margin-right: 15px;

            &:last-child {
                margin-right: 0;
            }
        }

        .article-more-actions {
            height: 25px;
            width: 25px;
        }
    }
}

.article-written-by {
    @include align-items(flex-start);
    border-top: 1px solid $gray-15;
    @include display-flex();
    padding-top: 50px;

    .user-avatar {
        border-radius: 50%;
        height: 152px;
        overflow: hidden;
        width: 152px;

        img {
            display: inline-block;
            height: 100%;
            width: 100%;
        }
    }

    .written-by {
        margin-left: 25px;

        .author-name {
            margin: 5px 0;
        }

        .author-category {
            margin-bottom: 20px;
        }
    }
}