html, body {
    overflow-x: hidden;
}

html {
    overflow-y: scroll;
}

body {
    color: $text-color;
    @include roboto(20px, 1.4);
    text-rendering: optimizeLegibility;
}

.content {
    position: relative;
    overflow: hidden;
}

.h-line {
    background-color: rgba($h-line-color, .24);
    display: inline-block;
    height: $h-line-height;
    position: relative;
    width: $h-line-width;
}

.text-3 {
    color: $text-color;
    @include roboto(20px, 1.4);
}

.content-wrapper {
    margin: $header-min-height auto 0;
    max-width: $max-width;
}

.icon {
    display: inline-block;
    height: 15px;
    width: 15px;

    &--2x {
        height: 29px;
        width: 29px;
    }
}

.image {
    margin: 0;

    img {
        display: block;
        position: absolute;
        width: 100%;
    }

    figcaption {
        color: $caption-color;
        @include roboto(16px, 20px);
        padding-top: 10px;
    }
}

.label {
    color: $caption-color;
    @include roboto-medium(16px, 20px);
    text-transform: uppercase;
}