.button {
    @include button-color($text-color, transparent, $gray-15);
    border: 1px solid $gray-15;
    border-radius: 4px;
    cursor: pointer;
    display: inline-block;
    @include button-size(15px, $button-line-height, $button-height, $button-padding-size-x);
    text-decoration: none;

    &--md {
        @include button-size(16px, $button-md-line-height, $button-md-height, $button-md-padding-size-x);
    }

    &--primary {
        @include button-color($green, transparent, $green);
    }
}