.link {
    color: $text-color;
    @include roboto(16px, 1.4);
    text-decoration: none;
    position: relative;

    &--default {
        color: $default-link-color;
    }

    &--primary {
        color: $primary-link-color;
        @include transition(color 100ms ease);

        &:hover {
            color: $green-1;
        }
    }

    &--underlined {
        border-bottom: 1px solid $text-color-1;
    }
}