$max-width: 1224px;
$padding-size-x: 65px;

$white: #fff;
$text-color: rgba(0, 0, 0, .84);

$header-box-shadow: 0 4px 12px 0 rgba(0, 0, 0, .05);
$header-min-height: 65px;

$h-line-color: #D5D5D5;
$h-line-height: 29px;
$h-line-width: 2px;